body {
    background-color: #fafafa;
    font-family: 'Source Serif Pro', serif;
    font-size: 16.5px;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color:#000000;
    font-weight: 700;
    line-height: 41px;
}

ul {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

main {

}

.horizontal-margin {
    margin: 0 15%;
}

.icons-container {
    display: flex;
    list-style: none;
    margin-right: 10px;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    font-size: 20px;
    margin-right: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
}
.icons a {
    display: flex;
    color: inherit;
}
.icons a:hover {
    color: inherit;
}
.facebook-color {
    color: #3B5998;
}
.facebook-color:hover {
    background-color: #3B5998;
    color: white;
}.twitter-color {
    color: #00aced; 
}
 .twitter-color:hover{
     background-color: #00aced; 
     color: white;
 }
 .reddit-color {
   color: #ff4500;
 }
 .reddit-color:hover {
     background-color: #ff4500; 
     color: white;
 }
 .printer-color {
     color: rgb(216, 67, 21)
 }
 .printer-color:hover {
     background-color: rgb(216, 67, 21);
     color:white;
 }
.line-gross{
    margin: 0;
    border-top: 3px solid black;  
}
.line-fine {
    margin:0;
    border-top: 1px solid #AAA7A4
}
a {
    text-decoration: none;
    text-decoration-color: none;
    color: black;
}
.header-title {
    display: flex;
}
.header-logo {
    margin: auto 0;
    padding: 10px;
}
.header-logo img {
    width: 420px;
}
.header-signup ul {
    border-left: 1px solid #aaa7a4;
    padding: 0px 10px;
    list-style: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    color: #1a1a1a;
}
.primary-menu{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.primary-menu li {
    list-style: none;
    font-weight: 600;
    font-family:'Poppins', sans-serif;
    font-size: 15px;
    color: rgb(26, 26, 26)
}
.epigraph {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    color:#5d5b5a;
}
.figure-image {
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 100%;
}

.new-container {
    padding: 30px 10%;
}

.new-container img {
    max-width: 100%;
}

.main-container {
    display: flex;
}

.main-left {
    width: 80%;
}

.main-right {
    width: 20%;
}

.by-line {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #000000;
    font-weight: 400;
}
.author-name {
    color: #d84315;
    font-weight: 900;
    text-decoration: none;
}
.time {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.featured-item a {
    text-decoration: underline dotted;
    color: rgb(255, 87, 34);
}
.featured-item a:hover{
    text-decoration: underline;
    color: #DA572E;
}
.image-footer {
    font-family: 'Poppins', sans-serif;
    font-size: 11.375px;
    color:#5d5b5a;
}
.about-author-content {
    background-color: #ECEDE7;
}
.author-data {
    display: flex;
}
.author-image {
    margin: 20px;
}
.author-card {
    font-family: 'Poppins',sans-serif;
    font-size: 24px;
    font-weight: 600;
}
a:hover {
    color: #DA572E;
}
.author.title {
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
    font-size: 24px;
}
.author-description {
    font-size: 14px;
}
.author-social-network {
    margin: 20px;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    text-align: right;
    line-height: 12px;
}
.author-email {
    margin-bottom: 15px;
    margin-right: 10px;
}
.author-social-url a:hover {
    color: #D84315;
}
.author-social-url span a {
    color: #D84315;
}

.trending-top {
    padding: 0;
    margin: 10px 0;
    display:flex;
    font-family: 'Poppins',sans-serif ;
    font-weight: 600;
    font-size: 14px;
    color: #B93611;
}

.trending-top span {
    text-transform: uppercase;
    margin-right: 10px;
}

.trending-top ul {
    display: flex;
    list-style: none;
    font-size: 15px;
    color: black;
    font-family: 'Source Serif Pro', serif;
    font-weight: 100;
}

.trending-top ul li {
    margin-right: 10px;
}

.subscribe-container {
    background: #ecede7;
    height: 200px;
    width: 100%;
}




