.header-title {
    display: flex;
}
.header-logo {
    margin: auto 0;
    padding: 10px;
}
.header-logo img {
    width: 420px;
}
.header-signup ul {
    border-left: 1px solid #aaa7a4;
    padding: 0px 10px;
    list-style: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    color: #1a1a1a;
}
.primary-menu{
    display: flex;
    width: auto;
    justify-content: space-between;
    width: 50%;
}
.primary-menu li {
    list-style: none;
    font-weight: 600;
    font-family:'Poppins', sans-serif;
    font-size: 15px;
    color: rgb(26, 26, 26)
}
