body {
    margin: 0;
    background-color: #fafafa;
    font-family: 'Source Serif Pro', serif;
    font-size: 16.5px;
    
}

h1 {
    font-family: 'Poppins', sans-serif;
    font: 32px;
    color:#000000;
}

.line-gross{
    margin: 0;
    border-top: 3px solid black;  
}

.line-fine {
    margin:0;
    border-top: 1px solid #AAA7A4
}

a {
    text-decoration: none;
    text-decoration-color: none;
    color: black;
}

.header-title {
    display: flex;
}

.header-logo {
    margin: auto 0;
    padding: 10px;
}

.header-logo img {
    width: 420px;
    
}

.header-signup ul {
    border-left: 1px solid #aaa7a4;
    padding: 0px 10px;
    list-style: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    color: #1a1a1a;
}

.primary-menu{
    display: flex;
    width: auto;
    justify-content: space-between;
    width: 50%;
}

.primary-menu li {
    list-style: none;
    font-weight: 600;
    font-family:'Poppins', sans-serif;
    font-size: 15px;
    color: rgb(26, 26, 26)
}

.second-line {
    border-top: 

}
.epigraph {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    color:#5d5b5a;
}
.by-line {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #000000;
    font-weight: 400;
}

.author-name {
    color: #d84315;
    font-weight: 900;
    text-decoration: none;
}

.time {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.image-footer {
    font-family: 'Poppins', sans-serif;
    font-size: 11.375px;
    color:#5d5b5a;
}

.about-author-content {
    background-color: #ECEDE7;
}

.author-data {
    display: flex;
}

.author-image {
    margin: 20px;
}

.author-card {
    font-family: 'Poppins',sans-serif;
    font-size: 24px;
    font-weight: 600;
}

a:hover {
color: #DA572E;
}

.author.title {
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
    font-size: 24px;
}
.author-description {
    font-size: 14px;
}

.author-social-network {
    margin: 20px;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    text-align: right;
    line-height: 12px;
}

.author-email {
    margin-bottom: 15px;
    margin-right: 10px;
}

.author-social-url a:hover {
    color: #D84315;
}

.author-social-url span a {
    color: #D84315;
}

.ri-twitter-fill {
    color: #00aced;
    font-size: 12px;
}

.trending-top {
    display:flex;
    font-family: 'Poppins',sans-serif ;
    font-weight: 600;
    font-size: 14px;
    color: #B93611;
}

.trending-top ul {
    display: flex;
    list-style: none;
    line-height: ;
    font-size: 12px;
    color: black;
}    





